*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    max-width:1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
.btn{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: bolder;
    color:#ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 24px;
}
.logo{
    margin: 16px;
}
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
a {
    font-size: large;
    font-weight: 400;
    color:#000000;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    cursor: pointer;
}

}
main{
     background-image: url('../assets/hero-bg.png'); 
     max-width: 1600px;
    max-height: 675px;
    vertical-align: middle;   
.banner .text1{
    font-size: x-large;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-style: bold;
    line-height: 50px;
    justify-content: center;
    /* display: flex; */
    margin: 76px 295px 76px 295px;
    color: #ffffff;
} 
}
.banner .btn1{
    font-size: medium;
    font-family: "Inter", sans-serif;
    padding: 8px 12px 8px 34px;
    margin: 154px 250px 16px 180px;
    /* background-color: #FFFFFF; */
    text-align: center;
    color: #000000;
    font-weight: 400px;
    cursor: pointer;
    font-weight: bold;
    color: #30B868;
    border: none;
.dot{
   height: 10px;
  width: 10px;
  background-color: #30B868;
  color: #81ffb5;
  border-radius: 8px;
  margin: 2px 6px 2px 12px; 
  display:inline-block;
  border: none ;
}
}
.banner .text3{
    color: rgb(164, 138, 6);
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 23px;
    display: block;
    justify-content: center;
}
.banner .btn2{
    font-size: large;
    color: #ffffff;
    background-color: #30B868;
    padding: 16px 46px 16px 16px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin: 32px 16px 179px 447px;
    cursor: pointer;
    flex-direction: row;
    border: none;
}
.banner .btn3{
    max-width: 198px;
    border-radius: 5px;
    padding:16px 16px 16px 46px;
    background-color: white;
    /* text-align: center; */
    opacity: 40%;
    justify-content: center;
    align-items: center;
    margin: 32px 447px 179px 16px;
    cursor: pointer;
    border: none;
}
/* .Note .N1{
    font-family: "Inter", sans-serif;
    margin:0px 120px 16px 120px;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    font-weight: bolder; 

}
.Note .N2{
    font-family: "Inter", sans-serif;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-size: 19px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 44px;

}*/
.access{
    background-color: #F7F6F2;
    margin: 4px 118px 118px 118px ; 
}
.access .A1{
    margin: 80px 40px 24px 40px;
    font-family: "Inter", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 38px;
    line-height: auto;
    font-weight: bold;
}
.access .A2{
    font-family: "Inter", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: lighter;

}
.access .AC .btn4{
    display: flex;
    max-width: 250px;
    height: 60px;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding:16.5px 46px;
    font-size: 16px;
    font-weight: 700;
    color:#ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 24px 543px 16px 543px;
}
.access .E1{
    font-family: "Inter", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    margin: 16px 40px 80px 40px;
    font-weight: lighter;
   
}
.access .E1 .dot1{
   font-weight: 500;
    }
footer{
    margin-top: 1800px;
}